<head>
<title><% content_for :title, "Flock" %></title>
<meta name="twitter:card" content="app">
<meta name="twitter:app:id:iphone" content="id661859783">
<meta name="twitter:app:id:ipad" content="id661859783">
<meta name="twitter:app:id:googleplay" content="com.flock.app"/>
<meta name="twitter:app:country" content="us">
<meta name="twitter:url" content="https://itunes.apple.com/us/app/flock-do-more-with-friends/id661859783">
<!-- <meta name="twitter:app:url:iphone" content="flock://"> -->
</head>


<section class="container-1">
  <div>
    <%= image_tag("Flock_White_Circle_Logo.png", size: "110x110")%>
  </div>
</section>

<section class="container-2">
  <div class = "header_div">
    <div>WE HELP FRIENDS<br>DO MORE TOGETHER.</div>
  </div>
  <div id="button-adam">
    <div>
      <a href="#" class="desktop">TEXT LINK</a>
      <a href="#" class="mobile">DOWNLOAD APP</a>
    </div>
  </div>
</section>

<section class="container-3">
  <h1 class="hiw_header">HOW IT WORKS</h1>
  <div>
    <li>
      <%= image_tag("hiw_activity.png", class:"how_it_works_pic") %>
      <h1>Choose<br>an Activity</h1>
    </li>
    <li>
      <%= image_tag("hiw_place.png", class:"how_it_works_pic") %>
      <h1>Select a<br>Location</h1>
    </li>
    <li>
      <%= image_tag("hiw_time.png", class:"how_it_works_pic") %>
      <h1>Pick a<br>Time</h1>
    </li>
    <li>
      <%= image_tag("hiw_connect.png", class:"how_it_works_pic") %>
      <h1>Connect<br>With Friends</h1>
    </li>
  </div>
</section>

<section class="container-4 desktop where">
  <div id="fade_1" class="pics" style="min-width: 700px;">
      <div><%= image_tag("location_general.png", :class => "screenshots") %>
        <span class="screenshot_captions">
          <span class="caption_header">LOCATION</span><br>
          Keep it <span class="caption_emphasize">casual<br></span></div>
      <div><%= image_tag("location_specific.png", :class => "screenshots")%>
        <span class="screenshot_captions">
          <span class="caption_header">LOCATION</span><br>
          Or make it <span class="caption_emphasize">specific</span><br></span></div>
  </div>
</section>

<section class="container-4 mobile">
  <div id="fade_2" class="pics" style="">
      <div>
        <h1 class="mobile_screenshot_header mobile">LOCATION</h1>
        <%= image_tag("location_general.png", :class => "screenshots", :sytle => "float:center") %>
        <h2 class="mobile_screenshot_header mobile">Keep it casual</h2>
      </div>
      <div>
        <h1 class="mobile_screenshot_header mobile">LOCATION</h1>
        <%= image_tag("location_specific.png", :class => "screenshots")%>
        <h2 class="mobile_screenshot_header mobile">Or make it specific</h2>
      </div>
  </div>
</section>

<section class="container-5 desktop when">
  <div id="fade_3" class="pics" style="min-width: 700px;">
      <div><%= image_tag("location_general.png", :class => "screenshots") %>
        <span class="screenshot_captions when">
          <span class="caption_header">PICK A TIME</span><br>
          Keep it <span class="caption_emphasize">general<br></span></div>
      <div><%= image_tag("location_specific.png", :class => "screenshots")%>
        <span class="screenshot_captions">
          <span class="caption_header">PICK A TIME</span><br>
          And figure out<br>the details <span class="caption_emphasize">later</span><br></span></div>
  </div>
</section>

<section class="container-5 mobile">
  <div id="fade_4" class="pics" style="">
      <div><%= image_tag("location_general.png", :class => "screenshots", :sytle => "float:center") %></div>
      <div><%= image_tag("location_specific.png", :class => "screenshots")%></div>
  </div>
</section>

<section class="container-6">
  <div class="share"></div>
</section>

<script type="text/javascript">
  $('#fade_1').cycle({ 
    fx:      'fade',
    next:   '#fade_1', 
  });
  $('#fade_2').cycle({ 
    fx:      'fade',
    next:   '#fade_2', 
  });
  $('#fade_3').cycle({ 
    fx:      'fade',
    next:   '#fade_3', 
  });
  $('#fade_4').cycle({ 
    fx:      'fade',
    next:   '#fade_4', 
  });

  $('.share').sharer()

</script>

























