<section class="container-1">
  <div>
    <%= image_tag("Flock_White_Circle_Logo.png", size: "110x110")%>
  </div>
</section>

<section class="container-2">
  <div class = "header_div">
    <div>WE HELP FRIENDS<br>DO MORE TOGETHER.</div>
  </div>
  <div id="button-adam">
    <div>
      <a href="#" class="desktop">TEXT LINK</a>
      <a href="#" class="mobile">DOWNLOAD APP</a>
    </div>
  </div>
</section>

<section class="container-3">

</section>

<section class="container-4 desktop">
  <div id="fade_1" class="pics" style="">
      <div><%= image_tag("location_general.png", :class => "screenshots") %><span class="screenshot_captions">Keep it <span>casual<br></span>with a favorite neighborhood</div>
      <div><%= image_tag("location_specific.png", :class => "screenshots")%><span class="screenshot_captions">Or make it <span>specific</span><br>with a local favorite</span></div>
  </div>
</section>

<section class="container-4 mobile">
  <div id="fade_2" class="pics" style="">
      <div><%= image_tag("location_general.png", :class => "screenshots", :sytle => "float:center") %></div>
      <div><%= image_tag("location_specific.png", :class => "screenshots")%></div>
  </div>
</section>

<script type="text/javascript">
    $('#fade_1').cycle({ 
      fx:      'fade',
      next:   '#fade_1', 
  });
    $('#fade_2').cycle({ 
      fx:      'fade',
      next:   '#fade_2', 
  });
</script>

