<head>
<title><% content_for :title, "Flock" %></title>
<meta name="twitter:card" content="app">
<meta name="twitter:app:id:iphone" content="id661859783">
<meta name="twitter:app:id:ipad" content="id661859783">
<meta name="twitter:app:id:googleplay" content="com.flockwithme.app"/>
<meta name="twitter:app:country" content="us">
<meta name="twitter:url" content="http://www.flockwithme.com">
<meta property="og:image" content="https://sphotos-a-lga.xx.fbcdn.net/hphotos-prn1/164607_435090329898575_186003531_n.png">
</head>


<span class="new-blog animated bounceInDown desktop"><a href="http://blog.flockwithme.com">Check out<br>our blog!</a></span>
<section class="container-1">
  <div>
    <%= image_tag("Flock_White_Circle_Logo.png", size: "110x110")%>
  </div>

</section>

<section class="container-2">
  <div class = "header_div">
    <div>WE HELP FRIENDS<br>DO MORE TOGETHER.</div>
    <div class="desktop link-subtext">Get a link to download the app below:</div>
  </div>


  <div id="button-adam">  
      <a href="#number_form" class="desktop fancybox"><div>SEND ME A LINK</div></a>
      <a href="http://bit.ly/11LgLAn" class="mobile"><div>DOWNLOAD THE APP</div></a>
  </div>

  <div id="social-buttons" class="desktop"> 
    <span style="padding-right: 5px"><a href="https://twitter.com/flockwme" class="twitter-follow-button" data-show-count="false">Follow @ajwaxman</a></span>  
    <a href="https://twitter.com/share?text=Check out Flock: Do More With Friends - a fun and casual way to make plans!" class="twitter-share-button" data-url="http://flockwithme.com" data-via="flockwme" data-lang="en">Tweet</a>
    <span style="left:-20px;"class="fb-like" data-href="http://flockwithme.com/app" data-width="" data-layout="button_count" data-show-faces="true" data-send="true"></span>
    <span id="fb-root"></span>
  </div>
</section>

<div style="display:none" class="text" id="number_form">
    <%= form_tag(send_text_path, :method => :post) do %>
      <%= text_field_tag(:number, nil, :placeholder => '555-555-5555')%><br>
      <%= submit_tag("Submit") %>
    <% end %>
</div>

<section class="container-3">
  <h1 class="hiw_header">CREATE EVENTS IN<br class="mobile"> A COUPLE TAPS</h1>
  <div class= desktop>
    <li>
      <%= image_tag("hiw_activity.png", class:"how_it_works_pic") %>
      <h1>Choose<br>an Activity</h1>
    </li>
    <li>
      <%= image_tag("hiw_place.png", class:"how_it_works_pic") %>
      <h1>Select a<br>Location</h1>
    </li>
    <li>
      <%= image_tag("hiw_time.png", class:"how_it_works_pic") %>
      <h1>Pick a<br>Time</h1>
    </li>
    <li>
      <%= image_tag("hiw_connect.png", class:"how_it_works_pic") %>
      <h1>Connect<br>With Friends</h1>
    </li>
  </div>
</section>

<section class="container-4 desktop where">
  <div id="fade_1" class="pics" style="min-width: 780px;">
      <div><%= image_tag("explore.png", :class => "screenshots") %>
        <span class="screenshot_captions">
          <span class="caption_header">EXPLORE</span><br>a curated
           <span class="caption_emphasize"></span>activity list<br></div>
      <div><%= image_tag("connect.png", :class => "screenshots")%>
        <span class="screenshot_captions">
          <span class="caption_header">CONNECT</span><br>
          through a group chat<span class="caption_emphasize"></span><br></span></div>
  </div>
</section>

<section class="container-4 mobile">
  <div id="fade_2" class="pics" style="">
      <div>
        <h1 class="mobile_screenshot_header mobile">EXPLORE</h1>
        <%= image_tag("explore.png", :class => "screenshots", :sytle => "float:center") %>
        <h2 class="mobile_screenshot_header double-line mobile">a curated<br>activity list</h2>
      </div>
      <div>
        <h1 class="mobile_screenshot_header mobile">CONNECT</h1>
        <%= image_tag("connect.png", :class => "screenshots")%><br>
        <h2 class="mobile_screenshot_header double-line mobile">through a<br>group chat</h2>
      </div>
  </div>
</section>

<section class="container-5 desktop when">
  <div id="fade_3" class="pics" style="min-width: 780px;">
      <div><%= image_tag("location_general.png", :class => "screenshots") %>
        <span class="screenshot_captions green-theme when">
          <span class="caption_header green-theme">LOCATION</span><br>
          Keep it <span class="caption_emphasize green-theme">casual</span>...<br></div>
      <div><%= image_tag("location_specific.png", :class => "screenshots")%>
        <span class="screenshot_captions green-theme">
          <span class="caption_header green-theme">LOCATION</span><br>
          ...or make it<span class="caption_emphasize"> specific</span><br></span></div>
  </div>
</section>

<section class="container-5 mobile">
  <div id="fade_4" class="pics" style="">
      <div>
        <h1 class="mobile_screenshot_header green-theme mobile">LOCATION</h1>
        <%= image_tag("location_general.png", :class => "screenshots", :sytle => "float:center") %>
        <h2 class="mobile_screenshot_header green-theme mobile">Keep it casual...</h2>
      </div>
      <div>
        <h1 class="mobile_screenshot_header mobile green-theme">LOCATION</h1>
        <%= image_tag("location_specific.png", :class => "screenshots")%><br>
        <h2 class="mobile_screenshot_header mobile green-theme double-line">...or make<br>it specific</h2>
      </div>
  </div>
</section>

<section class="container-4 desktop where">
  <div id="fade_5" class="pics" style="min-width: 780px;">
      <div><%= image_tag("time_general.png", :class => "screenshots") %>
        <span class="screenshot_captions">
          <span class="caption_header">PICK A TIME</span><br>
          Keep it <span class="caption_emphasize">general</span>...<br></div>
      <div><%= image_tag("time_specific.png", :class => "screenshots")%>
        <span class="screenshot_captions">
          <span class="caption_header">PICK A TIME</span><br>
          ...and figure out<br>the details <span class="caption_emphasize">later</span><br></span></div>
  </div>
</section>

<section class="container-4 mobile">
  <div id="fade_6" class="pics" style="">
      <div>
        <h1 class="mobile_screenshot_header mobile">PICK A TIME</h1>
        <%= image_tag("time_general.png", :class => "screenshots", :sytle => "float:center") %>
        <h2 class="mobile_screenshot_header mobile">Keep it general...</h2>
      </div>
      <div>
        <h1 class="mobile_screenshot_header mobile">PICK A TIME</h1>
        <%= image_tag("time_specific.png", :class => "screenshots")%><br>
        <h2 class="mobile_screenshot_header mobile double-line">...and figure out<br>the details later</h2>
      </div>
  </div>
</section>

<section class="container-6">
  <div class="desktop link-subtext">Get a link to download the app below:</div>
  <div id="button-adam">  
      <a href="#number_form" class="desktop fancybox"><div>SEND ME A LINK</div></a>
      <a href="http://bit.ly/11LgLAn" class="mobile"><div>DOWNLOAD THE APP</div></a>
  </div>
  <div class="share_div">
    <div class="share-button"></div>
  </div>
</section>

<section class="container-7">
  
  <span class="social-icons">
      <a href="https://twitter.com/flockwme"><i class="icon-twitter ib-social-icons"></i></a>
      <a href="http://www.facebook.com/flockwithme"><i class="icon-facebook ib-social-icons"></i></a>
      <a href="mailto:hello@flockhq.com?subject=Hello"><i class="icon-envelope ib-social-icons"></i></a>
  </span>
  <span class="copyright">
    © 2013 FivePoints Social, LLC&emsp;&emsp;
    <a href="http://blog.flockwithme.com">Blog</a>&emsp;&emsp;
    <a href="/terms">Terms</a>&emsp;&emsp;
    <a href="/privacy">Privacy</a></span>
</section>



<!-- JS for Cycle -->

<script type="text/javascript">
  $('#fade_1').cycle({ 
    fx:      'fade',
    next:   '#fade_1', 
  });
  $('#fade_2').cycle({ 
    fx:      'fade',
    next:   '#fade_2', 
  });
  $('#fade_3').cycle({ 
    fx:      'fade',
    next:   '#fade_3', 
  });
  $('#fade_4').cycle({ 
    fx:      'fade',
    next:   '#fade_4', 
  });
  $('#fade_5').cycle({ 
    fx:      'fade',
    next:   '#fade_5', 
  });
  $('#fade_6').cycle({ 
    fx:      'fade',
    next:   '#fade_6', 
  });

  $(function(){
    $('.share-button').share({
      twitter: {
        text: 'Check out @flockwme so we can do more together! Start %23flocking today! flockwithme.com'
      },
      facebook: {
        name: 'Flock: Do More With Friends',
        link: 'www.facebook.com/flockwithme',
        text: 'The easiest way to do more with friends!',
        image: ""
      },
      url: 'flockwithme.com',
      background: '#6A9E69',
      color: '#fff'
    })
  });

</script>

<!-- JS for Fancybox -->

<script type="text/javascript">
    $(document).ready(function() {
      $("a.fancybox").fancybox({
        maxWidth: 900,
        helpers : {
            overlay : {
                css : {
                    'background' : 'rgba(0, 0, 0, 0.8)'
                }
            },
        }
      });
    });

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=426154300770370";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = '//hnbutton.appspot.com/static/hn.min.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

</script>

<style type="text/css">
  .share-button ul li {
    height: 46px;
  }
</style>

























