<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39929116-1', 'flockwithme.com');
      ga('send', 'pageview');
    </script>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Flock"/>
    <meta property="og:description" content="A fun and casual way to make plans"/>
    <meta property="og:image" content="https://sphotos-a-lga.xx.fbcdn.net/hphotos-prn1/164607_435090329898575_186003531_n.png"/>
    <meta property="og:site_name" content="Flock"/>
    <meta property="og:url" content="http://flockwithme.com"/>
    <meta content='Flock - a fun and casual way to make plans' name='description'>
    <meta content='flock apps events planning social friends' name='keywords'>
    <meta content='Flock' name='author'>

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <script type="text/javascript" src="//use.typekit.net/tok4epu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
